<h1><%=@madlib.title%></h1>

<p>
<%=@madlib.body%>
</p>

<%unless @is_favorite %>
    <%= button_to "Add To Your Favorites", new_favorite_path, params: { id: @madlib.id }%>
<%else %>
    <%= button_to "Remove From Favorites", delete_favorite_path, params: { id: @madlib.id }%>

<%end %>
