<h1>Hi, <%= current_user.to_name %></h1>
<hr class="top">

<h2>Here are all of your past Orders:</h2>

<table>
<% @orders.each do |order|  %>
    <tr>
        <td>Order #<%=link_to order.number, order_path(order)%>  </tr>
    </tr>
<%end%>
</table>

