/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "favorites";
@import "madlibs";
@import "orders";
@import "trinkets";
@import "users";
@import "bootstrap";

/* RGB */
$black: rgba(0, 5, 1, 1);
$iguana: rgba(115, 171, 132, 1);
$etongreen: rgba(153, 209, 156, 1);
$pearlaqua: rgba(121, 199, 197, 1);
$powder: rgba(173, 225, 229, 1);



header{
    display: flex;
    justify-content: space-around;
    align-items: stretch;

}


nav {
    flex-basis: 75%;
}



.user_controls {
    // container stuff
    display: flex;
    justify-content: space-around;
    background-color:#f8f9fa;
    align-items: center;

    // item stuff
    flex-basis: 25%;
    
}

#login{
    padding-left: 20%;
}

.user_control:first-child{
    flex-basis: 70%;

}

.user_control > *{
    flex-basis: 30%;
    
}



main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $powder;
    align-content: center;
    
    min-height: 100vh;
    
}


main>* {

    width: 70%;
    background-color: white; 
    min-height: 100vh;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    text-align: center;
}

.login_form {
    border-color: black;
};

//HR TAGS
hr.top {
    border-top: 3px solid rgb(24, 22, 22);
}

hr.body {
    color: 1px solid rgb(110, 110, 126);
}


//HEADERS

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    
}

h2 {
     font-family: 'Reenie Beanie', cursive;
}

h3 {
    font-family: 'Reenie Beanie', cursive;
}
h4 {
    font-family: 'Reenie Beanie', cursive;
}
h5 {
    font-family: 'Reenie Beanie', cursive;
}



//Buttons
input[type = "submit"] {
    
    background-color: $etongreen;
    border-radius: 4px;
    border-color: powder;
    color: rgb(31, 68, 70);
    font-family: 'Schoolbell', cursive;
    
}

input[type = "submit"].hover {
    
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

input {
    font-family: 'Schoolbell', cursive;
}
label {
    font-family: 'Schoolbell', cursive;
}

a {
    font-family: 'Schoolbell', cursive;
    color: $pearlaqua;
}

/* visited link */
a:visited {
    color: $pearlaqua;
  }
  
  /* mouse over link */
a:hover {
    color: $iguana;
}
  
  /* selected link */
a:active {
    color: $powder;
}



span {
    font-family: 'Schoolbell', cursive;
}

p {
    font-family: 'Schoolbell', cursive;
}


table {
    width: 50%;
    font-family: 'Schoolbell', cursive;
    margin: 0 auto; 
}


// tr {
//     max-width:100%;
//     white-space:nowrap;
// }
// td {
//     max-width:100%;
//     white-space:nowrap;
// }

td.mini {
    width: 40%;
    text-align: right;
    padding-right: 5px;
}

td.maxi {
    width: 60%;
    text-align: left;
    padding-left: 5px;
}

th {
    font-weight: bold;
}